.mangaImageAlign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350rem;
}

.MangaChapters{
    width: 75rem;
}

.manga-page-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.manga-info-title1{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
    padding-bottom: 1rem;
}

.manga-info-title2{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--textColor2);
}

@media only screen and (max-width: 768px) {
    .mangaImageAlign{
        width: 150rem;
    }

    .MangaChapters{
        width: 20rem;
    }

    .manga-page-info{
        width: 20rem;
    }

    .manga-info-title1{
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    .manga-info-title2{
        font-size: 1.2rem;
    }
}