.paymentGateway{
    background-color: var(--bgColor2);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paymentTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--textColor);

}

.paymentDescCard{
    width: 50rem;
    background-color: #232323;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.paymentDescCard span{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--textColor);
}

.paymentDescCard2{
  width: 50rem;
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.paymentDescCard2 span{
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.paymentInput{
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: 45rem;
    background-color: var(--bgColor);
    padding: 1rem;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    outline: none;
    color: var(--textColor2);
}

.paymentInput::placeholder{
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--textColor3);
}

.creditInfo{
    width: 50rem;
    padding: 1rem;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.paymentInput2{
    border-radius: 0.5rem;
    width: 22rem;
    background-color: var(--bgColor);
    padding: 1rem;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    outline: none;
    color: var(--textColor2);
}

.paymentInput2::placeholder{
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--textColor3);
}

.upiInput{
    width: 30rem;
    background-color: var(--bgColor);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    outline: none;
    color: var(--textColor2);
}

.upiInput::placeholder{
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--textColor3);
}

.upiBtn{
    width: 10rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.upiBtn:hover{
    color: var(--textColor2);
    background-color: var(--primary-color2);
}

.arrowIconUpi1{
    width: 2rem;
    height: 2rem;
    color: var(--textColor);
    cursor: pointer;
}

.arrowIconUpi2{
    width: 2rem;
    height: 2rem;
    color: var(--textColor);
    cursor: pointer;
    transform: rotate(90deg);
}

.accordion {
    max-width: 600px;
  }
  
  .accordion-title{
    width: 47rem;
    background-color: #232323;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .accordion-content {
    background-color: #232323;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }

  .creditCardInputs{
    width: 45rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .creditCardBtn{
    width: 100%;
    height: 3.5rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2rem;
  }

  .creditCardBtn:hover{
    color: var(--textColor2);
    background-color: var(--primary-color2);
  }

  @media only screen and (max-width:768px) {
    .paymentGateway{
      overflow: hidden;
    }
    .paymentTitle{
      font-size: 1.5rem;
    }

    .paymentDescCard{
      width: 25rem;
    }

    .paymentDescCard span{
      font-size: 0.8rem;
    }

    .paymentDescCard2{
      width: 25rem;
    }

    .paymentDescCard2 span{
      font-size: 0.8rem;
    }

    .paymentInput{
      width: 20rem;
      padding: .5rem;
    }
    
    .paymentInput::placeholder{
      font-size: 0.6rem;
    }

    .paymentInput2::placeholder{
      font-size: 0.6rem;
    }

    .paymentInput2{
      width:9.5rem;
      padding: .5rem;
    }

    .upiInput{
      width: 15rem;
      padding: .4rem;
    }

    .upiInput::placeholder{
      font-size: 0.6rem;
    }

    .upiBtn{
      width: 5rem;
      height: 2.5rem;
      font-size: 0.8rem;
    }

    .arrowIconUpi1{
      width: 1.5rem;
      height: 1.5rem;
    }

    .arrowIconUpi2{
      width: 1.5rem;
      height: 1.5rem;
    }

    .accordion{
      width: 300px;
    }

    .creditCardInputs{
      width: 25rem;
    }

    .accordion-title{
      width: 22rem;
    }

    .creditInfo{
      width: 20rem;;

    }

    .creditCardInputs{
      width: 20rem;
    }

    .creditCardBtn{
      width: 20rem;
      height: 2.5rem;
      margin-top: 1rem;
      font-size: 0.8rem;
    }

    
  }