.videoInfoPage{
    background-color: var(--bgColor2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-info-container{
    display: flex;
    flex-direction: row;
    padding: 8rem 0 0 3rem;
    margin:0;
}

.video-info-container img{
    transition: all 0.3s ease-in-out;
}

.video-info-container img:hover{
    transform: scale(1.05);
}

.additionalAnimeInfo{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 1rem;
    background-color: #232323;
    height:auto;
    border: 1px solid var(--primary-color);
}


.alignVidInfo{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.AnimeTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--secondary-color);

}

.AnimeTitle2{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--textColor2);
}

.AnimeTags{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fd7d7d;
    
}

.AnimeTags2{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--textColor3);
}

.AnimeInfoTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 1rem;
}

.AnimeInfo{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--textColor3);
    margin-top: 1rem;
}

.AnimeInfo2{
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
    color: var(--textColor);
}

.AnimeDesc{
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--textColor3);
    margin-top: 1rem;
}

.AnimeDescTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--secondary-color);
    margin-top: 1rem;
}

.watchNowButton{
    text-align: center;
    background-color: var(--primary-color);
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.watchNowButton:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.watchButton2{
    text-align: center;
    background-color: transparent;
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 3px solid var(--primary-color);
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.watchButton2:hover{
    background-color: var(--primary-color);
}

.watchButton3{
    text-align: center;
    background-color: var(--primary-color2);
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 3px solid var(--primary-color2);
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.watchButtonDiabled{    
    text-align: center;
    background-color: var(--primary-color2);
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.episodeBtn{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--textColor3);
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 800;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.episodeBtn:hover{
    background-color: var(--primary-color);
    color: var(--textColor);
}

.episodeBtnGrp{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* flex-direction: row; */
    gap: 1rem;
    margin-right: 40rem;
}

.episodeBtnGrp2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 40rem;
}


.AnimeDescSection{
    background-color: #232323;
    border-radius: 1rem;
    padding: 2rem;
    margin-right: 15rem;
}

.trailerSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10rem;
}

.reactTrailerPlayer{
    width: 200px;
    height: 100px;
}

.descBoxBtnDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.descBoxBtn{
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--textColor2);
    padding: 0.25rem 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 800;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.descBoxBtn:hover{
    background-color: var(--primary-color);
    color: var(--textColor);
}

.tagsBox{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0rem 5rem;
    gap: 0.5rem;
}

.watchlistSpan{
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 800;
    color: var(--textColor);
}

.alignRecommendAnime{
    width: 100rem;
    max-width: 100rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.recommendedSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10rem;
}

.characterTitle2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--secondary-color);
    margin-top: 1rem;
}

.recommendMinAnime{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1366px){
    .alignRecommendAnime{
        width: 85rem;
        max-width: 85rem;
    }

    .characterCardAlign{
        padding-left: 8rem;
    }
}

@media only screen and (max-width: 768px){
    .videoInfoPage{
        overflow: hidden;
    }

    .video-info-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8rem 0 0 0;
        margin:0;
    }

    .video-info-container img{
        width: 60%;
    }

    .additionalAnimeInfo{
        display: flex;
        flex-direction: column;
        padding-left: 0rem;
        padding-top: 1rem;
        background-color: #232323;
        height:auto;
        border: 1px solid var(--primary-color);
    }


    .alignVidInfo{
        padding-top: 2rem;
        width: 26rem;
    }

    .AnimeTitle{
        font-size: 1.3rem;
    }

    .AnimeTags{
        font-size: .7rem;
    }

    .AnimeTags2{
        font-size: .7rem;
    }

    .AnimeInfoTitle{
        font-size: .8rem;
    }

    .AnimeInfo{
        font-size: .8rem;
    }

    .AnimeInfo2{
        font-size: .8rem;
    }

    .AnimeDescSection{
        margin-right: 1rem;
    }

    .AnimeDesc{
        font-size: .7rem;
    }

    .AnimeDescTitle{
        font-size: 1rem;
    }

    .characters{
        display: none;
    }

    .descBoxBtn{
        font-size: .7rem;
    }

    .trailerSection{
        display: none;
    }

    .recommendedSection{
        display: none;
    }

}