@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	font-weight: 800;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--primary-color);
	color: var(--textColor);
	box-shadow: 5px 5px 25px rgba(26, 2, 36, 0.176);
	position: fixed;
	z-index: 3;
}

.navBar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;

}

.logoLink{
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	display: flex;
}

.logoLink:hover {
	color: var(--secondary-color);
}

nav a {
	padding: 0.5rem 2rem;
	margin: 0;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondary-color);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

.navLogo{
    font-family: 'Another Danger';
    font-weight: 100;
    font-size: 2rem;
    transform: rotate(-3deg);
    color: var(--secondary-color);
}

.navLogo:hover{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--textColor);
    text-shadow: 2px 3px var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.alignProfileIcon{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
