@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	font-weight: 800;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--primary-color);
	color: var(--textColor);
	box-shadow: 5px 5px 25px rgba(26, 2, 36, 0.176);
	position: fixed;
	z-index: 4;
}

.greetBox{
	background-color: aqua;
}

.greetText2{
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 1.3rem;
	color: var(--secondary-color);
}

.greetDivider{
	border: 1px solid #424242;
}

.greetText1{
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 1.3rem;
	color: var(--textColor);
}

.navBar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;

}

.logoLink{
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	display: flex;
}

.logoLink:hover {
	color: var(--secondary-color);
}

nav a {
	padding: 0.5rem 2rem;
	margin: 0;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondary-color);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.navLogo{
    font-family: 'Another Danger';
    font-weight: 100;
    font-size: 2rem;
    transform: rotate(-3deg);
    color: var(--secondary-color);
}

.navLogo:hover{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--textColor);
    text-shadow: 2px 3px var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.alignProfileIcon{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

#mobile {
    display: none;
  }
  
  #mobile i {
    color: #fff;
    align-items: center;
  }
  
  @media screen and (max-width: 950px) {
	header {
	  height: 4rem;
	}

    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 60px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background: var(--primary-color2);
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
      z-index: -2;
    }
  
    #navbar.active {
      right: 0px;
    }
  
    #navbar li {
      margin-bottom: 25px;
    }
  
    #mobile {
      display: block;
    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }
  