.watchlistContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8rem ;
    min-height: 100vh;
    background-color: var(--bgColor2);
}