.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--bgColor2);
    padding-bottom: 5rem;
}

.settingContBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    background-color: var(--bgColor);
    width: auto;
    padding: 5rem;
    margin-top: 8rem;
    margin-left: 10rem;
    gap: 5rem;
}

.settingMainCont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settingMainCont2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 1rem
}

.settingContTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: var(--textColor);
}

.settingContSubtitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--textColor2);
}

.settingContSpan{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.settingContInput{
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
    color: var(--textColor2);
    background-color: var(--bgColor3);
    border: none;
    border-radius: 0.5rem;
    width: 25rem;
    padding: 0.8rem;
    text-decoration: none;
    outline: none;

}

.userInfoDiv{
    display: flex;
    flex-direction: column;
}

.premiumDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--textColor3);
    border-style: dashed;
    height: 40rem;
    width: 40rem;
}

.settingPremiumTitle{
    font-family: "another danger", sans-serif;
    font-size: 5rem;
    font-weight: 100;
    color: var(--secondary-color);
}

.settingPremiumDesc{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--textColor);
    text-align: center;
    margin: 2rem;
}

.settingPremiumBtn{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--textColor);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    width: 15rem;
    padding: 0.8rem;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
}

.settingPremiumBtn:hover{
    background-color: var(--primary-color2);
    color: var(--textColor3);
    cursor: pointer;
}

.orderHistoryPremium{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-left: 3rem;
    gap: 0.2rem
}

.orderHistoryTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--textColor);
}

.orderHistoryDesc{
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--textColor3);
}

.settingPremiumDivision{
    border: 0.1rem solid var(--textColor3);
    width: 80%;
    margin-top: 2rem;
}

.settingPremiumCurrent{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--textColor);
    text-align: center;
}

.optionsBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    background-color: var(--bgColor);
    width: 30rem;
    max-width: 30rem;
    margin: 8rem 0rem 8rem 5rem;
    gap: 2rem;
    position: fixed;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    gap: 1rem;
}

.optionsTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.optionsTags{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--textColor2);
    cursor: pointer;
}

.optionsTags:hover{
    color: var(--secondary-color);
}

.optionsTags:checked{
    color: var(--secondary-color);
}

.optionsRadioBtnGrp

.optionsRadioBtnGrp .optionsBtnLabel {
    flex: 1 1 auto;
    text-align: center;
}

.optionsRadioBtnGrp .optionsBtnLabel  input{
    display: none;
}

.optionsRadioBtnGrp .optionsBtnLabel .optionsRadioSpan{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    padding: .5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--textColor2);
    transition: all .15s ease-in-out;
}

.optionsBtnLabel .optionsRadioBtnGrp .optionsRadioSpan:hover{
    color: var(--primary-color);
}

.optionsRadioBtnGrp .optionsBtnLabel input:checked + .optionsRadioSpan{
    color: var(--secondary-color);
    font-size: 1rem;
}

.settingContBtn{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--textColor);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    width: 10rem;
    padding: 0.8rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
}

.settingContBtn:hover{
    background-color: var(--primary-color2);
    color: var(--textColor3);
    cursor: pointer;
}

.settingLogoutBtn{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--textColor);
    background-color: rgb(255, 66, 66);
    border: none;
    border-radius: 0.5rem;
    width: 10rem;
    padding: 0.8rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
}

.settingLogoutBtn:hover{
    background-color: rgb(182, 47, 47);
    color: var(--textColor2);
    cursor: pointer;
}

.optionsAnchorTag{
    text-decoration: none;
}

.optionsAnchorTag:hover{
    color: var(--secondary-color);
}

.optionsAnchorTag:visited{
    color: var(--textColor);
}

@media only screen and (max-width:1366px) {
    .optionsBox{
        width: 20rem;
        max-width: 20rem;
        margin: 8rem 0rem 8rem 4rem;
        gap: 2rem;
        position: fixed;
    }
}

@media only screen and (max-width:768px) {
    .settingContBox{
        padding: 2rem;
        margin-top: 8rem;
        margin-left: 0rem;
        gap: 2rem;
        width: 25rem;
    }
    .optionsBox{
        display: none
    }

    .settingMainCont{
        gap:1rem
    }

    .settingContTitle{
        font-size: 2rem;
    }

    .settingContSubtitle{
        font-size: 0.7rem;
    }

    .settingContSpan{
        font-size: 0.8rem;
    }

    .settingContInput{
        font-size: 0.8rem;
        width: 19rem;
    }

    .premiumDiv{
        height: 20rem;
        width: 20rem;
    }

    .settingPremiumTitle{
        font-size: 2rem;
    }

    .settingPremiumDesc{
        font-size: 0.6rem;
    }

    .settingPremiumBtn{
        font-size: 0.8rem;
        width: 8rem;
        margin-top: 0;
    }

    .orderHistoryPremium{
        padding-top: 1rem;
    }

    .orderHistoryTitle{
        font-size: 0.8rem;
    }

    .orderHistoryDesc{
        font-size: 0.5rem;
    }

    .settingPremiumDivision{
        margin-top: 1rem;
    }

    .settingPremiumCurrent{
        font-size: 1rem;
    }

    .settingContBtn{
        font-size: 0.6rem;
        width: 8rem;
        margin-top: 0;
    }

    .settingLogoutBtn{
        font-size: 0.6rem;
        width: 8rem;
        margin-top: 0;
    }

    
}