:root{
    --primary-color: #7000FF;
    --primary-color2: #320074;
    --secondary-color: #86FF84;
    --secondary-color2: #00a700;
    --bgColor: #0f0f0f;
    --bgColor2: #080808;
    --textColor: #fff;
    --textColor2: #b3b3b3;
    --textColor3: #A1A1A1;
    /* background: var(--bgColor2); */
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --sb-track-color: #232323;
    --sb-thumb-color: #86ff84;
    --sb-size: 10px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}

  body::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    
    }
