.manga-info-container{
    background-color: var(--bgColor2);
    display: flex;
    flex-direction: row;
    padding: 8rem 0 0 3rem;
    border: 1px solid var(--primary-color);
    min-height: 85vh;
    margin:0;
}

.manga-info-container img{
    width: 15%;
    height: 40%;
    object-fit: cover;
}

.additionalMangaInfo{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 1rem;
    background-color: #232323;
    height:auto;
    border: 1px solid var(--primary-color);
}


.alignMangaInfo{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.MangaTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--secondary-color);

}

.MangaTags{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fd7d7d;
    
}

.MangaTags2{
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--textColor3);
}

.MangaInfoTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 1rem;

}

.MangaInfo{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--textColor3);
    margin-top: 1rem;
}

.MangaDesc{
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--textColor3);
    margin-top: 1rem;
}

.MangaDescTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--secondary-color);
    margin-top: 1rem;
}

.watchButton{
    text-align: center;
    background-color: var(--primary-color);
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.watchButton:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.episodeBtn{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--textColor3);
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 800;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.episodeBtn:hover{
    background-color: var(--primary-color);
    color: var(--textColor);
}

.episodeBtnGrp{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* flex-direction: row; */
    gap: 1rem;
    margin-right: 40rem;
}

.episodeBtnGrp2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 40rem;
}


.MangaDescSection{
    background-color: #232323;
    border-radius: 1rem;
    padding: 2rem;
    margin-right: 15rem;
}

.chapterBoxAlign{
    overflow-y: scroll;
    background-color: #232323;
    margin-top: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    max-width: 65rem;
    max-height: 20rem;
    margin: 0;
    box-sizing: border-box;
    --sb-track-color: #232323;
    --sb-thumb-color: #86ff84;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}

.chapterBoxAlign::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  .chapterBoxAlign::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }
  
  .chapterBoxAlign::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    
    }

.chapterBox{
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    list-style: none;
}

.chapterBox a{
    text-decoration: none;
}

.chapterBox li{
    background-color: var(--bgColor2);
    padding: 1rem;
    margin: 0.5rem 0;
    margin-right: 1rem;
    border-radius: 0.5rem;
    color: var(--textColor3);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.chapterBox li:hover{
    background-color: var(--primary-color);
    color: var(--textColor);
}



@media only screen and (max-width:768px) {
    .manga-info-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8rem 0 0 0;
        margin:0;
        overflow: hidden;
    }

    .manga-info-container img{
        width: 60%;
    }

    .additionalMangaInfo{
        display: flex;
        flex-direction: column;
        padding-left: 0rem;
        padding-top: 1rem;
        background-color: #232323;
        height:auto;
        border: 1px solid var(--primary-color);
    }


    .alignVidInfo{
        padding-top: 2rem;
        width: 26rem;
    }

    .MangaTitle{
        font-size: 1.3rem;
    }

    .MangaInfoTitle{
        font-size: .8rem;
    }

    .MangaDescSection{
        margin-right: 1rem;
    }

    .MangaDesc{
        font-size: .7rem;
    }

    .MangaDescTitle{
        font-size: 1rem;
    }

    .watchButton{
        font-size: 0.7rem;
        padding: 1rem 2rem;
        margin-top: 1rem;
        width: 10rem;
    }
    
    .chapterBoxAlign{
        max-width: 22rem;
        max-height: 22rem;
        margin-top: 1rem;
    }

    .chapterBox{
        display: flex;
        flex-direction: column-reverse;
        text-decoration: none;
    }
}