.VidCard1 {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 24rem;
  padding: .8em;
  background: var(--bgColor2);
  color: #ffffff  ;
  position: relative;
  overflow: visible;
}

.VidCard1:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.VidCard-info1 {
  padding-top: 5px;
  height: auto;
}
  
.vidInfo1{
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.vidInfoCont1{
  font-size: 0.6rem;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
}

.VidCard-info1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.VidCardTitle1{
  font-family: "montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}

.VidImage1{
  width: 13rem;
  height: 20rem;
  object-fit: cover;
}

.recentEpCard {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 24rem;
  padding: .8em;
  background: var(--bgColor2);
  color: #ffffff  ;
  position: relative;
  overflow: visible;
}

.recentEpCard:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.recentEp-info {
  padding-top: 5px;
  height: auto;
}

.recentEpTitle{
  font-family: "montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.recentEpCardImage{
  width: 12rem;
  height: 18rem;
  object-fit: cover;
}

.recentEpImage{
  width: 13rem;
  height: 18rem;
  object-fit: cover;
}
  
.recentEpInfo{
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.recentEpTitleAlign{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recentEpInfoCont{
  font-size: 0.6rem;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
}

.playIcon{
  color: var(--textColor);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1rem;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

#playIcon-home{
  font-size: 2.8rem;
}

.recentEpCard:hover .playIcon{

  opacity: 1;
  transition: 0.5s ease-in-out;
}

.recentEpCard:hover .recentEpImage{
  text-align: center;
  opacity: 0.5;
  filter: blur(1.2px);
  transition: 0.5s ease-in-out;
}

.VidCard1:hover .playIcon{
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.VidCard1:hover .VidImage1{
  text-align: center;
  opacity: 0.5;
  filter: blur(1.2px);
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 768px){
  .VidCard1 {
    width: 8.5rem;
    height: 18rem;
    padding: .4em;
  }
  
  .VidCard-info1 {
    padding-top: 1px;
    height: auto;
    white-space: nowrap;
  }
    
  .vidInfo1{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }
  
  .vidInfoCont1{
    font-size: 0.4rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: var(--secondary-color);
  }
  
  .VidCardTitle1{
    font-family: "montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
  }
  
  .VidImage1{
    width: 10rem;
    height: 14rem;
    object-fit: cover;
  }

  .recentEpCard {
    width: 8.5rem;
    height: 20rem;
    padding: .4em;
  }
  
  .recentEpCard:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .recentEp-info {
    padding-top: 1px;
    height: auto;
  }
    
  .recentEpInfo{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }
  
  .recentEpInfoCont{
    font-size: 0.4rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: var(--secondary-color);
  }
  
  .recentEpTitle{
    font-family: "montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
  }
  
  .recentEpImage{
    width: 10rem;
    height: 14rem;
    object-fit: cover;
  }
}
    