.popSect{
    background-color: var(--bgColor2);
}

.infoSect{
    padding: 20px;
    background-color: #f1f1f1;
}

.SectionTitle{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: var(--textColor);
    padding-left: 1rem;
    padding-top: .1rem;
}

.alignHomeItems1{
    padding-left: 60px;
}

.alignCardMargin{
    padding-right: 4rem;
}

.alignCardMargin2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-right: 4rem;
}

.alignCardMargin3{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-right: 4rem;
}


.vl {
  border-left: 6px solid var(--primary-color);
  height: 35px;
  margin-bottom: 1rem;
}

.txtCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1100px;
    background: #fce09f;
    padding: 15px;
    margin: 10px;
    gap: 6px;
    color: var(--textColor);
}

.AnimePromotion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: transparent;
    color: var(--textColor);
}

.AnimePromotionImg{
    width: 90rem;
    height: 28rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.AnimePromotionImg:hover{
    transform: scale(0.99);
}

.view-more-btn{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 6rem;
    background-color: transparent;
    border: none;
    color: var(--textColor3);
    font-size: .8rem;
    padding-top: .5rem;
}

#arrow-Icon{
    font-size: 1.2rem;
    color: var(--textColor3);
    padding-top: .2rem;
}

.view-more-btn:hover{
    color: var(--primary-color);
}

.latest-episode-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.latest-episode-section a{
    text-decoration: none;
}

.horizontal-Line1{
    border-bottom: 2px solid var(--bgColor3);
    width: 97%;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

.horizontal-Line2{
    border-bottom: 2px solid var(--bgColor3);
    width: 97%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contWatchingAlert{
    color: var(--textColor);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    background-color: #161616;
    border-radius: .4rem;
}


@media only screen and (max-width: 1600px){
    .alignHomeItems{
        padding-left: 30px;
    }

    .alignCardMargin2{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        overflow: hidden;
    }

    .AnimePromotionImg{
        width: 60rem;
        height: 19rem;
        border-radius: 10px;
    }

    
}

@media only screen and (max-width: 950px){
    .alignHomeItems1{
        padding-left:1rem;
    }

    .alignCardMargin{
        margin-left: 2rem;
    }

    .alignCardMargin2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 2rem;
        overflow: hidden;
    }

    .AnimePromotionImg{
        width: 20rem;
        height: 7rem;
        border-radius: 10px;
    }

    .view-more-btn{
        margin-right: 1rem;
        font-size: .8rem;
    }
    .view-more-btn:hover{
        color: var(--primary-color);
    }

    #arrow-Icon{
        font-size: 1.2rem;
    }

    
    .latest-episode-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
}