body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.popSect{
    background-color: var(--bgColor2);
}

.infoSect{
    padding: 20px;
    background-color: #f1f1f1;
}

.alignHomeItems1{
    padding-left: 60px;
}

.alignCardMargin{
    padding-right: 4rem;
}

.alignCardMargin2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-right: 4rem;
}


.vl {
  border-left: 6px solid var(--primary-color);
  height: 35px;
}

.txtCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1100px;
    background: #fce09f;
    padding: 15px;
    margin: 10px;
    gap: 6px;
    color: var(--textColor);
}

@media only screen and (max-width: 1366px){
    .alignHomeItems{
        padding-left: 30px;
    }

    .alignCardMargin2{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        overflow: hidden;
    }

    
}

@media only screen and (max-width: 768px){
    .alignHomeItems1{
        padding-left:30px;
    }

    .alignCardMargin2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
    }

    
}