.RedirectBtn {
    width: 45px;
    height: 45px;
    background: linear-gradient(#222831, #393E46);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;   
  }

  .RedirectAlnBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .arrow path {
    fill: white;
  }
  
  .RedirectTxt {
    font-size: 0.7em;
    width: 100px;
    position: absolute;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -33px;
    opacity: 0;
    transition-duration: .7s;
  }
  
  .RedirectBtn:hover .RedirectTxt {
    opacity: 1;
    transition-duration: .7s;
  }
  
  .RedirectBtn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  