.carouselImage{
    position: relative;
}

.carouselImage::before{
    content: "";
    background-color: var(--bgColor);
    background-image: linear-gradient(to right, rgba(15, 15, 15) 25%, transparent 70%);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

}

.aniLogo{
    width: 250px;
    object-fit: cover;
}

.carouselContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 28rem 0 28rem;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(2%, -100%);
}

.carouselContent h1{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.carouselContent p{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.carouselContentDir{
    transform: translate(-500px, -200px);
}

.carouselSeason{
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.carouselDescBox{
    /* border: 1px solid var(--secondary-color); */
    max-width: 40rem;
    padding-bottom: 1rem;
}

.carouselDesc{
    color: var(--textColor2);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}