a{
    color: #86FF84;
    text-decoration: none;
}

.signCard{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anchorColor{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--textColor3);
    transition: all 0.3s ease-in-out;
}

.anchorColor:hover{
    color: var(--primary-color);
}

.signButton{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.signButton:hover{
    background-color: var(--primary-color2);
    color: var(--secondary-color2);
}
.containerClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    padding:1rem 2rem;
    border-radius: 1rem;
    gap: 1rem;
}

.dividerClass{
    width: 100%;
    height: 0.1rem;
    background-color: var(--textColor2);
    margin: 1rem 0rem 1rem 0rem;
}

.labelClass{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: #86FF84;
}

.inputClass{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: #1F1F1F;
    color: var(--textColor3);
    transition: all 0.3s ease-in-out;
}